/* Hint: use relative measurements you'll find them useful! */

@import url();  /* Set this for Monton...figure out their syntax */

* {
    box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-image: url("background.png");
  height: 90%;
}

main {
  border: 10px solid transparent;
  border-image: url("border.gif") 30 round;
  background-color: #FFF;
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
header {
}
section {
	/* color rgb(243,234,95) is used */
  background-color: rgb(243, 234, 95);
}
section > div {
    /* font is 'Comic Sans MS, text is automatically adjusted to lowercase do not mod the HTML */
    font-family: 'Comic Sans MS';

}
section > aNastyNthChildSelectorToWrite {
	/* ANastNthChildSelectorToWrite means what it says it isn't an indetifier */
	/* background color is  rgb(192,77,249) */
  background-color: rgb(192, 77, 249);

}
section > aNastyNthChildSelectorToWrite {
	/* ANastNthChildSelectorToWrite means what it says it isn't an indetifier */
    /* background color is  rgb(43,209,252) */
  background-color: rgb(43,209,252);

}
section > div:nth-child(3):after {
	/* gave you the nth child after selector for free to inspire you */
	/* generated content in here ... a property can do that */
}

	/* a freebie for fun */
aside {
    background: rgb(255,63,63);
    color: white;
    border: 1rem solid black;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    font-family: sans-serif;
    font-size: 2rem;
    margin: 1rem 0;
    padding: 1rem;
    text-align: center;
}

svg {
  width: 25px;
  height: 25px;
  fill: #FFF;
}

footer {
  text-align: center;
}

img {
  width: 10%;
  height: 10%;
}


/* Opps truncated the file for you to fill in */

/* Solution given should be below 250 lines, solution we had was below 200 easily */
