html,
body {
  background-color: #343434;
  color: #EA5455;
}

.header {
  background-color: #EA5455;
  color: #343434;

}

.header h1 {
  text-shadow: 0px 0px 10px #FDE9C9;
}

.header p {
  color: #343434;
  text-shadow: 0px 0px 10px #FDE9C9;
}

nav {
  background-color: #2D4059;
}

li a {
  color: #EA5455;
}

li a:hover {
  background-color: #EA5455;
  color: #FFF;
}

li:hover a
{
    background: #334b6a;
}

li:hover li a:hover
{
    background: #EA5455;
}

img {
  background-image: radial-gradient(#EA5455, #51647d) !important;
}

img:hover,
img.active {
  box-shadow: 0px 0px 45px #FDE9C9;
}

.img-label {
  text-shadow: 0px 0px 10px #FDE9C5;
}

footer {
  background-color: #EA5455;
  color: #FFF;
}

.slider::-webkit-slider-runnable-track {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #2D4059;
  border: 0px solid #000101;
  transition: box-shadow 0.3s;
}

.slider:focus::-webkit-slider-runnable-track {
  background: #2D4059;
}

.slider::-moz-range-track {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #2D4059;
  border: 0px solid #000101;
  transition: box-shadow 0.3s;
}

.slider::-ms-fill-lower {
  background: #2D4059;
  border: 0px solid #000101;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  transition: box-shadow 0.3s;
}
.slider::-ms-fill-upper {
  background: #2D4059;
  border: 0px solid #000101;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  transition: box-shadow 0.3s;
}

.slider:focus::-ms-fill-lower {
  background: #2D4059;
}
.slider:focus::-ms-fill-upper {
  background: #2D4059;
}

.slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  background: #EA5455;
}

.slider::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  background: #EA5455;
}

.slider::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  background: #EA5455;
}

.slider::-webkit-slider-runnable-track:hover
 {
  box-shadow: 0px 0px 25px #2D4059;
}

.slider::-moz-range-track:hover
 {
  box-shadow: 0px 0px 25px #2D4059;
}

.slider::-ms-fill-upper:hover
 {
  box-shadow: 0px 0px 25px #2D4059;
}


.slider::-ms-fill-lower:hover
 {
  box-shadow: 0px 0px 25px #2D4059;
}
