html,
body {
  background-color: #435055;
  color: #29A19C;
}

.header {
  background-color: #29A19C;
  color: #27323A;
}

.header h1 {
  text-shadow: 0px 0px 10px #A3F7BF;
}

.header p {
  text-shadow: 0px 0px 10px #A3F7BF;
}

nav {
  background-color: #27323A;
}

li a {
  color: #29A19C;
}

li a:hover {
  background-color: #29A19C;
  color: #FFF;
}

li:hover a
{
    background: #354653;
}

li:hover li a:hover
{
    background: #29A19C;
}

img {
  background-image: radial-gradient(#29A19C, #4a555e) !important;
}

img:hover,
img.active {
  box-shadow: 0px 0px 45px #A3F7BF;
}

.img-label {
  text-shadow: 0px 0px 10px #A3F7BF;
}

footer {
  background-color: #29A19C;
  color: #FFF;
}

.slider::-webkit-slider-runnable-track {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #27323A;
  border: 0px solid #000101;
  transition: box-shadow 0.3s;
}

.slider:focus::-webkit-slider-runnable-track {
  background: #27323A;
}

.slider::-moz-range-track {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #27323A;
  border: 0px solid #000101;
  transition: box-shadow 0.3s;
}

.slider::-ms-fill-lower {
  background: #27323A;
  border: 0px solid #000101;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  transition: box-shadow 0.3s;
}
.slider::-ms-fill-upper {
  background: #27323A;
  border: 0px solid #000101;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  transition: box-shadow 0.3s;
}

.slider:focus::-ms-fill-lower {
  background: #27323A;
}
.slider:focus::-ms-fill-upper {
  background: #27323A;
}

.slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  background: #29A19C;
}

.slider::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  background: #29A19C;
}

.slider::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  background: #29A19C;
}

.slider::-webkit-slider-runnable-track:hover
 {
  box-shadow: 0px 0px 25px #27323A;
}

.slider::-moz-range-track:hover
 {
  box-shadow: 0px 0px 25px #27323A;
}

.slider::-ms-fill-upper:hover
 {
  box-shadow: 0px 0px 25px #27323A;
}


.slider::-ms-fill-lower:hover
 {
  box-shadow: 0px 0px 25px #27323A;
}
