html,
body {
  background-color: #EEEEEE;
  color: #3A4750;
}

.header {
  background-color: #3A4750;
  color: #EEEEEE;
}

.header h1 {
  text-shadow: 0px 0px 10px #303841;
}

.header p {
  color: #FFF;
  text-shadow: 0px 0px 10px #303841;
}

nav {
  background-color: #EA9215;
}

li a {
  color: #3A4750;
}

li a:hover {
  background-color: #3A4750;
  color: #FFF;
}

li:hover a
{
    background: #617F8A;
}

li:hover li a:hover
{
    background: #3A4750;
}

img {
  background-image: radial-gradient(#EA9215, #6f7980) !important;
}

img:hover,
img.active
 {
  box-shadow: 0px 0px 45px #EA9215;
}

.img-label {
  text-shadow: 0px 0px 10px #EA9215;
}

footer {
  background-color: #3A4750;
  color: #FFF;
}

.slider::-webkit-slider-runnable-track {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #EA9215;
  border: 0px solid #000101;
  transition: box-shadow 0.3s;
}

.slider:focus::-webkit-slider-runnable-track {
  background: #EA9215;
}

.slider::-moz-range-track {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #EA9215;
  border: 0px solid #000101;
  transition: box-shadow 0.3s;
}

.slider::-ms-fill-lower {
  background: #EA9215;
  border: 0px solid #000101;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  transition: box-shadow 0.3s;
}
.slider::-ms-fill-upper {
  background: #EA9215;
  border: 0px solid #000101;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  transition: box-shadow 0.3s;
}

.slider:focus::-ms-fill-lower {
  background: #EA9215;
}
.slider:focus::-ms-fill-upper {
  background: #EA9215;
}

.slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  background: #3A4750;
}

.slider::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  background: #3A4750;
}

.slider::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  background: #3A4750;
}

.slider::-webkit-slider-runnable-track:hover
 {
  box-shadow: 0px 0px 25px #EA9215;
}

.slider::-moz-range-track:hover
 {
  box-shadow: 0px 0px 25px #EA9215;
}

.slider::-ms-fill-upper:hover
 {
  box-shadow: 0px 0px 25px #EA9215;
}


.slider::-ms-fill-lower:hover
 {
  box-shadow: 0px 0px 25px #EA9215;
}
