* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: url('/assets/img/loading.gif') #fff 50% 50% no-repeat;
}

audio {
  visibility: hidden;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  height: auto;
  width: 100%;
  margin: 0 auto;
}



.center {
  text-align: center;
}

.col {
  display: inline-block;
}

@media only screen and (max-width: 480px) {
  .col {
      margin: 0;
  }
  li:active > .dropdown li {
    display: block;
     -webkit-animation-name: rotate;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate;
    -moz-animation-duration: 0.5s;
    -moz-animation-timing-function: linear;
    -ms-animation-name: rotate;
    -ms-animation-duration: 0.5s;
    -ms-animation-timing-function: linear;
  }
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  text-align: center;
}

.header div {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 300;
}

h1 {
  margin: .67em 0;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;
}

h2 {
  margin: .57em 0;
  font-size: 26px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;
}

form{
	display: block;
    width: 100%;
    padding-left: 8rem;
    padding-right: 8rem;
}

label{
	font-size: 17px;
	padding-right: 1rem;
}

input{
	width: 100%
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .header p {
    line-height: 1.4;
  }

  h1 {
    font-size: 63px;
  }
  
  h2{
	  font-size: 53px;
  }
}


img{
  width: 250px;
  height: 250px;
  border: 0.5px solid #000;
  border-radius: 100%;
  cursor: pointer;
  transition: box-shadow 0.5s, transform 1s;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.imgcell{
  margin: 2rem;
  height: 250px;
  width: 250px;
}

.slider {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background: transparent;
}

.slider:focus {
  outline: none;
}

.slider::-webkit-slider-runnable-track {
  height: 12.8px;
  cursor: pointer;
  border-radius: 25px;
}

.slider::-moz-range-track {
  height: 12.8px;
  cursor: pointer;
  border-radius: 25px;
}

.slider::-ms-track {
  height: 12.8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}

.slider::-ms-fill-lower {
  border-radius: 50px;
}
.slider::-ms-fill-upper {
  border-radius: 50px;
}

.slider::-webkit-slider-thumb {
  height: 20px;
  width: 39px;
  border-radius: 7px;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}

.slider::-moz-range-thumb {
  height: 20px;
  width: 39px;
  border-radius: 7px;
  cursor: pointer;
}

.slider::-ms-thumb {
  height: 20px;
  width: 39px;
  border-radius: 7px;
  cursor: pointer;
}

@-webkit-keyframes spin
{
  from{-webkit-transform:rotate(0deg);}
  to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spin
{
  from{-moz-transform:rotate(0deg);}
  to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spin
{
  from{-ms-transform:rotate(0deg);}
  to{-ms-transform:rotate(360deg);}
}

@media screen and (min-width: 768px) {
  @-webkit-keyframes rotate
  {
    from{
  	  -webkit-transform:rotateY(-90deg);
  	  -webkit-transform:translateY(5rem);
    }
    to{
  	  -webkit-transform:rotateY(0deg);
  	  -webkit-transform:translateY(0rem);
    }
  }
  @-moz-keyframes rotate
  {
    from{

  	  -moz-transform:rotateY(-90deg);
  	  -moz-transform:translateY(5rem);
    }
    to{

  	  -moz-transform:rotateY(0deg);
  	  -moz-transform:translateY(0rem);
    }
  }
  @-ms-keyframes rotate
  {
    from{

  	  -ms-transform:rotateY(-90deg);
  	  -ms-transform:translateY(5rem);

    }
    to{
  	  -ms-transform:rotateY(0deg);
  	  -ms-transform:translateY(0rem);
    }
  }
}


img.active {
  transform: scale(5);
  -webkit-animation-name: spin;
  -webkit-animation-duration: 3.75s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 3.75s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 3.75s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
}

footer {
  padding: 1rem;
  width: 100%;
  text-align: center;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  cursor: pointer;
}

nav > ul > li {
  position: relative;
  display: inline-block;
  line-height: 20px;
  cursor: pointer;
}

li a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  min-width: 6.5rem;
  margin-bottom: -0.2rem;
  margin-right: -0.2rem;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  padding: 0;
  perspective: 1000px;
}

.dropdown li{
	display: none;
}

li:hover > .dropdown li {
  display: block;
   /*-webkit-animation-name: rotate;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate;
  -moz-animation-duration: 0.2s;
  -moz-animation-timing-function: linear;
  -ms-animation-name: rotate;
  -ms-animation-duration: 0.2s;
  -ms-animation-timing-function: linear;*/
}

.dropdown li:last-child > a{
    border-radius: 0px 0px .5rem .5rem;
}

#toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #868686;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
	    bottom: 0;
	    opacity: 0;
	}
    to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
    from {
	    bottom: 0;
	    opacity: 0;
	}
    to {
	    bottom: 30px;
	    opacity: 1;
	}
}

@-webkit-keyframes fadeout {
    from {
	    bottom: 30px;
	    opacity: 1;
	}
    to {
	    bottom: 0;
	    opacity: 0;
	}
}

@keyframes fadeout {
    from {
	    bottom: 30px;
	    opacity: 1;
	}
    to {
	    bottom: 0;
	    opacity: 0;
	}
}

i {
  color: #EA9215;
  font-size: 800%;
}

.nojs{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  font-weight: 300;
  font-size: 80%;
  background: #fff;
  text-align: center;
  margin-top: -7.5rem;
  transform: translate(0,30%);
}

.nojs > a{
	text-decoration: none;
}

.nojs > h1{
	font-size: 20px;
}

.nojs > h2{
	font-size: 16px;
}

