* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

audio {
  visibility: hidden;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}


.center {
  text-align: center;
}

.col {
  display: inline-block;
}


@media only screen and (max-width: 480px) {
  .col {
      margin: 0;
  }
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  text-align: center;
}

.header div {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 300;
}

h1 {
  margin: .67em 0;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;
}


@media screen and (min-width: 768px) {
  .header {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .header p {
    line-height: 1.4;
  }

  h1 {
    font-size: 63px;
  }

  form {
    float: left !important;
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

img{
  width: 250px;
  height: 250px;
  border: 0.5px solid #000;
  border-radius: 100%;
  cursor: pointer;
  transition: box-shadow 0.5s, transform 1s;
}

.imgcell{
  margin: 2rem;
  height: 250px;
  width: 250px;
}

audio {
  visibility: hidden;
}

.audio-controls{
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 2rem;
  height: 100%;
}


@-webkit-keyframes spin
{
  from{-webkit-transform:rotate(0deg);}
  to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spin
{
  from{-moz-transform:rotate(0deg);}
  to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spin
{
  from{-ms-transform:rotate(0deg);}
  to{-ms-transform:rotate(360deg);}
}

@media screen and (min-width: 768px) {
@-webkit-keyframes rotate
{
  from{
	  -webkit-transform:rotateY(-90deg);
	  -webkit-transform:translateY(5rem);
  }
  to{
	  -webkit-transform:rotateY(0deg);
	  -webkit-transform:translateY(0rem);	  
  }
}
@-moz-keyframes rotate
{
  from{

	  -moz-transform:rotateY(-90deg);
	  -moz-transform:translateY(5rem); 
  }
  to{

	  -moz-transform:rotateY(0deg);
	  -moz-transform:translateY(0rem);	  
  }
}
@-ms-keyframes rotate
{
  from{

	  -ms-transform:rotateY(-90deg);
	  -ms-transform:translateY(5rem);

  }
  to{
	  -ms-transform:rotateY(0deg);
	  -ms-transform:translateY(0rem);
  }
}
}

img:hover {
  transform: scale(1.10);
  -webkit-animation-name: spin;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
}

footer {
  padding: 1rem;
  width: 100%;
  text-align: center;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  cursor: pointer;
}

nav > ul > li {
  position: relative;
  display: inline-block;
  line-height: 20px;
  cursor: pointer;
}


li a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  min-width: 6rem;
  margin-bottom: -0.2rem;
  margin-right: -0.2rem;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  padding: 0;
  perspective: 1000px;
}


.dropdown li{
	display: none;
}

li:hover > .dropdown li {
	min-width: ;
  display: block;
   -webkit-animation-name: rotate;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate;
  -moz-animation-duration: 0.5s;
  -moz-animation-timing-function: linear;
  -ms-animation-name: rotate;
  -ms-animation-duration: 0.5s;
  -ms-animation-timing-function: linear;
}

.dropdown li:last-child > a{
    border-radius: 0px 0px .5rem .5rem;
}


